name: Build Linux App

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 修复点：添加了 libayatana-appindicator3-dev
      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libayatana-appindicator3-dev

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Enable Linux Configuration
        run: |
          flutter config --enable-linux-desktop
          flutter create --platforms=linux .

      - name: Get Dependencies
        run: flutter pub get

      - name: Build Linux App
        run: flutter build linux --release

      - name: Compress Bundle
        run: |
          cd build/linux/x64/release/bundle
          tar -czvf once_power_linux.tar.gz *

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: once_power_linux_app
          path: build/linux/x64/release/bundle/once_power_linux.tar.gz
